// Specific CSS for your home-page

.container-intro {
  background-color: rgba(155, 225, 251, 0.65);
  height: 80vh;
  width: 100vw;
  text-align: center;
  padding: 100px;
  color: #279AF1;
  position: relative;
  text-shadow: 2px 2px 1px #E2C2FF;
}

.container-hello {
  display: flex;
  margin-left: 200px;
  width: 120px;
}

.my-name-is {
  margin-left: 250px;
  text-align: left;
  width: 225px;
}

.olivia {
  width: 625px;
  margin: 0 auto;
  font-size: 90px;
  text-shadow: 4px 4px 1px #E2C2FF;
}

.top {
  z-index: 7;
  position: relative;
}

.project {
  height: 90vh;
  width: 100vw;
  text-align: center;
  padding: 50px;
}

.i-am {
  width: 650px;
  margin-left: 10vw;
}

.i-studied {
  width: 600px;
  margin-left: 30vw;
}

.take-a-look {
  text-align: center;
  margin-left: 40vw;
}

.description {
  width: 660px;
  font-size: 20px;
  margin: 20px auto;
}

.about-me {
  background-color: #96aeff;
  color: white;
  text-align: left;
  margin: 0 auto;
  height: 80vh;
  width: 100vw;
}

.about-content {
  margin: 0 auto;
  padding-top: 14vh;
  h4 {
    margin-bottom: 60px;
    line-height: 40px;
  }
}

.conscious-clicks {
  background-color: #FFFFE3;
  color: #2d5bff;
  a {
    color: #2d5bff;
  }
}

.cloud-castles {
  background-color: #ed6ac6;
  color: white;
  a {
    color: white;
  }
}

.mom-zorn {
  background-color: #D4FCE2;
  color: #3D3838;
  a {
    color: #3D3838;
  }
}

.photo-portfolio {
  background-color: #96aeff;
  color: white;
  .description {
    width: 550px;
  }
  a {
    color: white;
  }
}

.hello {
  font-size: 60px;
}

.icons {
  display: flex;
  justify-content: space-around;
  font-size: 150px;
  margin-top: 100px;
  a {
    text-decoration: none;
  }
}


