// Specific CSS for your home-page

.container-intro {
  background-color: rgba(155, 225, 251, 0.65);
  height: 80vh;
  width: 100vw;
  text-align: center;
  padding: 100px;
  color: #279AF1;
  position: relative;
  text-shadow: 2px 2px 1px #E2C2FF;
}

.container-hello {
  display: flex;
  margin-left: 200px;
  width: 120px;
}

.my-name-is {
  margin-left: 250px;
  text-align: left;
  width: 225px;
}

.olivia {
  width: 625px;
  margin: 0 auto;
  font-size: 90px;
  text-shadow: 4px 4px 1px #E2C2FF;
}

.top {
  z-index: 7;
  position: relative;
}

.project {
  height: 80vh;
  width: 100vw;
  text-align: center;
  padding: 50px;
}

.conscious-clicks {
  background: linear-gradient(360deg, #FEFFBE 0%, rgba(255, 255, 255, 0.0309089) 99.98%, rgba(255, 255, 255, 0.015625) 99.99%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}

.cloud-castles {
  background: linear-gradient(360deg, #FFCAE9 0%, rgba(255, 255, 255, 0.0309089) 99.98%, rgba(255, 255, 255, 0.015625) 99.99%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}

.mom-zorn {
  background: linear-gradient(360deg, #FEFFBE 0%, rgba(255, 255, 255, 0.0309089) 99.98%, rgba(255, 255, 255, 0.015625) 99.99%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}

.photo-portfolio {
  background: linear-gradient(360deg, #FEFFBE 0%, rgba(255, 255, 255, 0.0309089) 99.98%, rgba(255, 255, 255, 0.015625) 99.99%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}
