<div>
  <h2>Hi</h2>
  <h2>, </h2>
</div>

<div>
  <h2>my name is </h2>
  <h1>Olivia Zorn</h1>
</div>

<div>
  <h4>I'm an artist and fullstack web developer</h4>
  <h4>from Boston, MA</h4>
  <h4>currently living in London</h4>
</div>

<div>
  <div>
    <h3>I code delightful apps</h3>

    <div>
      <h2>Conscious Clicks</h2>
      <p>An app that trains you to live more mindfully and unlearn
        unhealthy ideas by showing you positive messages everytie you
        open a new tab</p>
    </div>

    <div>
      <h2>Cloud Castles</h2>
      <p>An airbnb-style app for renting extravagant castles</p>
    </div>

    <div>
      <h2>Mixed by Mom Zorn</h2>
      <p>An app for my Mom to share her cocktail recipes</p>
    </div>
  </div>

  <div>
    <h3>I'm a photoshop wizard</h3>
  </div>

  <h3>I can sculpt giant mammals out of wrapping paper</h3>
  <h3>I love to tango</h3>
  <h3>I write all sorts of stuff</h3>
  <h3>and I'm always learning new skills!</h3>
</div>

<div>
  <h4>Say hello!</h4>
</div>

