.cloud {
  position: absolute;
  z-index: 0;
}

.cloud { transition: all 1.5s ease-in-out; }
.cloud:hover { transform: scale(1.15); }

#cloud1 {
  top: 40px;
  left: 170px;
}

#cloud2 {
  bottom: 40px;
  right: 180px;
}

#cloud5 {
  top: 350px;
  left: 90px;
}

#cloud6 {
  top: 90px;
  right: 380px;
}

#cloud7 {
  top: 50px;
  right: 50px;
}
