.color-stripe {
  // height: 20vh;
}

.pink {
  background-color: #FFCAE9;
  height: 5vh;
}

.purple {
  background-color: #E2C2FF;
  height: 5vh;
}

.yellow {
  background-color: #FEFFBE;
  height: 5vh;
}

.white {
  background-color: white;
  height: 5vh;
}
