.stripe {
  height: 5vh;
}

.mini-stripe {
  height: 2.5vh;
}

.pink {
  background-color: #FFCAE9;
}

.purple {
  background-color: #E2C2FF;
}

.yellow {
  background-color: #FEFFBE;
}

.white {
  background-color: white;
}

.lavender {
  background-color: #dcd6ff;
}

.blue {
  background-color: #4e66e0;
}

.navy {
  background-color: #142991;
}

.magenta {
  background-color: #eb6dff;
}

.royal-purple {
  background-color: #704ae2;
}

.green {
  background-color: #adffb9;
}

